LayerLogicData/Connected Services/ServiceReference/serviceit1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenthutuc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="thamso" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="giatri" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteProcedureSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenthutuc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="thamso" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="giatri" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteProcedureSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExcuteProcedureSQLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoUpdateDatabase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="procedureName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameter" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoUpdateDatabaseResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExcuteProcedureSQLSoapIn">
    <wsdl:part name="parameters" element="tns:ExcuteProcedureSQL" />
  </wsdl:message>
  <wsdl:message name="ExcuteProcedureSQLSoapOut">
    <wsdl:part name="parameters" element="tns:ExcuteProcedureSQLResponse" />
  </wsdl:message>
  <wsdl:message name="AutoUpdateDatabaseSoapIn">
    <wsdl:part name="parameters" element="tns:AutoUpdateDatabase" />
  </wsdl:message>
  <wsdl:message name="AutoUpdateDatabaseSoapOut">
    <wsdl:part name="parameters" element="tns:AutoUpdateDatabaseResponse" />
  </wsdl:message>
  <wsdl:portType name="serviceitSoap">
    <wsdl:operation name="GetDataSet">
      <wsdl:input message="tns:GetDataSetSoapIn" />
      <wsdl:output message="tns:GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcuteProcedureSQL">
      <wsdl:input message="tns:ExcuteProcedureSQLSoapIn" />
      <wsdl:output message="tns:ExcuteProcedureSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoUpdateDatabase">
      <wsdl:input message="tns:AutoUpdateDatabaseSoapIn" />
      <wsdl:output message="tns:AutoUpdateDatabaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceitSoap" type="tns:serviceitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://tempuri.org/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteProcedureSQL">
      <soap:operation soapAction="http://tempuri.org/ExcuteProcedureSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoUpdateDatabase">
      <soap:operation soapAction="http://tempuri.org/AutoUpdateDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviceitSoap12" type="tns:serviceitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteProcedureSQL">
      <soap12:operation soapAction="http://tempuri.org/ExcuteProcedureSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoUpdateDatabase">
      <soap12:operation soapAction="http://tempuri.org/AutoUpdateDatabase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceit">
    <wsdl:port name="serviceitSoap" binding="tns:serviceitSoap">
      <soap:address location="http://localhost:88/serviceit.asmx" />
    </wsdl:port>
    <wsdl:port name="serviceitSoap12" binding="tns:serviceitSoap12">
      <soap12:address location="http://localhost:88/serviceit.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>